body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(..img/sobre-background.jpg);
}

h2 {
    margin-top: 30px;
}

figure {
    background-color: #F2eded;
    border: 1px #Ccc;
    text-align: center;
}

figcaption {
    font-style: italic;
}

h3 {
    margin-top: 30px; 
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape {
    color: #777;
    margin: 30px;
    padding: 30px;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}